.page {
  background-color: $basic-white;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $basic-black;
  margin: 0;
  padding: 0;
  height: 100%;
}
