img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 768px;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
  }
}
