$basic-black: #000000;
$basic-white: #ffffff;
$basic-dark-gray: #131314;
$basic-light-gray: #F6F7F9;
$basic-green: #0AD9C6;

$special-black-menu: #DADADA;
$special-gray-menu: rgba(#14151733,.2);
$special-gray-back: #f6f6f6;
$special-gray-text: #48494D;
;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$mobile-width-only: 767px;
