$basic-black: #000000;
$basic-white: #ffffff;
$basic-dark-gray: #131314;
$basic-light-gray: #f6f7f9;
$basic-green: #0ad9c6;

$special-black-menu: #dadada;
$special-gray-menu: rgba(#141517, 0.2);
$special-gray-back: #f6f6f6;
$special-gray-text: #48494d;
$special-gray-border: #c9ccd4;
$special-gray-form: rgba(#1c1c1c, 0.5);
$special-black-heading: #1f1f1f;


// viewports

$mobile-width: 767px;
$tablet-width: 1023px;
